<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Chat</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body >
    <% if (typeof(error) != "undefined") { %>
        <div class="alert alert-danger" >
            <strong>ERROR!</strong> <%= error %>
        </div>
    <%}%>
		<div class="header" bis_skin_checked="1">Video Chat</div>
    <div class="main" bis_skin_checked="1">
        <div class="connect" bis_skin_checked="1">
    <div class="text-join" bis_skin_checked="1">Join existing room with room ID</div>
    <div class="input-join" bis_skin_checked="1">
        <input type="text" id="roomId" placeholder="Enter Room ID">  
    </div>
    <div class="button-join" bis_skin_checked="1">
        <button onclick="joinRoom()">Join Room</button>
    </div>
    <div class="create-room" bis_skin_checked="1">
        <button onclick="window.location.href='/create';">Create Room</button>  
    </div>
      </div>
    <script src="home.js"></script>
</div>
</body>
</html>