<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>const ROOM_ID="<%= roomId %>"</script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>
    <script src="/socket.io/socket.io.js" defer ></script>
    <script src="../script.js" defer></script>
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Harmattan&display=swap');
			* {
				font-family: 'Harmattan', sans-serif;
				text-decoration:none; 
				text-align: center;
				margin: 0;
				padding: 0;
			}
			.main-video {
				position: fixed;
				display: flex;
				flex-wrap: wrap;
			}
			.main-video .menu {
    		width: 100%;
				height: 100vw;
    		background: black;
			}
			.main-video .header,.header a {
				width: 100%;
				background: cornflowerblue;
				color: black;
			}
			.main-video .menu .video-hud {
    		width: 1205px;
    		padding: 10px;
    		margin: 0 auto;
			}
			.main-video .menu .video-hud video {
				width: 100%;
				border-radius: 5px;
				object-fit: cover;
			}
		</style>
    <title>Video Chat</title>
</head>
<body>
		<div class="main-video">
			<div class="header">
				<h1>Video Chat</h1>
				<p><strong>Room ID:</strong><a id="roomURL"></a></p>
			</div>
			<div class="menu">
				<div class="video-hud" id="video-grid"></div>
			</div>
		</div>
    <script>
			let $ = document.querySelector.bind(document);
      $('#roomURL').href = '/room/'+ROOM_ID;
      $('#roomURL').text = ' '+ROOM_ID;
    </script>
</body>
</html>